.player-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    filter: brightness(90%);

    .user-img{
        width: 40px;
        object-fit: cover;
    }

    span{
        font-size: 15px;
        margin-left: 5px;
    }

    .player-board{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 180px;
        z-index: -1;
    }
}

.player-active{
    text-decoration: underline;
    color: black;
    filter: brightness(110%);
}