.player-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 30%;
    position: relative;
    background: none;
    border: 1px solid white;
    filter: brightness(90%);
    border-radius: 2px;
    cursor: pointer;

    &:hover{
        background: white;
        color: black;
    }

    .user-img{
        width: 25px;
        height: 25px;
        border-radius: 100%;
        object-fit: cover;
    }

    span{
        font-size: 15px;
        margin-left: 5px;
    }
}

.player-active{
    background: white;
    color: black;
}