main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

   .game-desk{
       position: absolute;
       bottom: 0;
       width: 100%;
   }

   .floor-div{
       position: absolute;
       top: 0;
       right: 0;
       left: 0;
       bottom: 0;
      
        .floor-img{
            z-index: -1;
            object-fit: cover;
            width: 100%;
            height: 100vh;
        }
   }

    .cards-stack{
        position: relative;
        z-index: 1;
        width: 40%;
        margin-bottom: 6rem !important;
        margin: auto;
        height: 50vh;
        perspective: 2500px;
    }
}

.allcards-div{
    position: absolute;
    width: 60%;
    bottom: 30rem !important;
    left: 7.5rem;
    transform: rotateX(45deg);
}

.top-card{
    position: absolute;  
    width: 17.5%; 
    transition: 225ms ease;
    filter: brightness(120%);
    cursor: pointer;
    padding-bottom: 75px;
    transform-origin: bottom;
    
    &:hover{
        filter: brightness(150%);
    }
}

.played-card{
    transform: translateY(5rem) translateX(20rem) rotateZ(30deg);
    filter: brightness(130%);
    width: 17.5%;
    position: absolute;
}

.pick-card{
    position: absolute;
    animation: pick-card-animation 1.25s ease-in-out;
    filter: brightness(130%);
    width: 17.5%;
    transform: rotateX(0deg) !important;
}

.player-board-div{
    z-index: 1;
    position: absolute;
    width: 20%;
    right: 15%;
    bottom: 70%;

    .player-board{
        position: relative;
        width: 100%;
        filter: brightness(90%);
    }
}

@keyframes pick-card-animation{
    0%{
        transform: scale(1) rotateX(0deg) !important;
    }
    40%{
        transform: scale(1.4) rotateX(0deg);
    }
    80%{
        transform: scale(1.4) rotateX(0deg);
    }
    100%{
        transform: scale(1) translateY(5rem) translateX(20rem) rotateZ(30deg);
    }
}

@keyframes pick-card-animation2{
    0%{
        transform: scale(1) rotateX(0deg) !important;
    }
    40%{
        transform: scale(1.4) rotateX(0deg);
    }
    80%{
        transform: scale(1.4) rotateX(0deg);
    }
    100%{
        transform: scale(1) translateY(0rem) translateX(12.5rem) rotateZ(30deg);
    }
}

.player-position{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 5px 0px;
    z-index: 1;
    color: white;
}

.btn-add{
    position: absolute;
    right: 10rem;
    bottom: 20rem;
    width: 12.5%;
    cursor: pointer;
    z-index: 3;
    filter: brightness(90%);
    filter: drop-shadow(2px 2px 5px rgba(20, 20, 20, 0.493));
    
    &:hover{
        filter: drop-shadow(0px 0px 2px rgb(255, 230, 1));
    }
}

.highlight{
    filter: drop-shadow(0px 0px 2px rgb(255, 230, 1));
}

.info{
    position: absolute;
    bottom: 50px;
    right: 100px;
    left: 100px;
}

.div{
    display: flex !important;
    justify-content: center;
    width: 100%;
    min-height: 60%;
    max-height: 60%;
    position: absolute;
    top: 22.5%;
    right: 0;
    flex-wrap: wrap;
    overflow: scroll;
}

.div::-webkit-scrollbar {
    display: none;
}

.app-alert{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.game-over-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.beer{
    position: absolute;
    bottom: 30rem;
    left: 17.5rem;
    width: 5.5%;
    z-index: 20;
    cursor: pointer;
    transition: 175ms ease;
    
    &:hover{
        filter: drop-shadow(0px 0px 2px rgb(255, 230, 1));
    }
}

.beer-bottle{
    position: absolute;
    bottom: 30rem;
    left: 12.5rem;
    width: 3%;
    z-index: 20;
    cursor: pointer;
    transition: 175ms ease;
    
    &:hover{
        filter: drop-shadow(0px 0px 2px rgb(255, 230, 1));
    }
}

.highlightBeer{
    filter: drop-shadow(0px 0px 2px rgb(255, 230, 1));
}

.new-game{
    position: absolute;
    background: none;
    border: none;
    left: 8.5rem;
    bottom: 19rem;
    cursor: pointer;
    width: 6%;

    &:hover{
        filter: drop-shadow(0px 0px 2px rgb(255, 230, 1));
    }
}

@media all and (max-width: 1800px){
    .allcards-div{
        bottom: 26rem !important;
    }  

    .top-card{  
        width: 15% !important; 
        padding-bottom: 65px !important;
    }
}

@media all and (max-width: 1680px){
    .allcards-div{
        bottom: 25rem !important;
    }  

    .top-card{  
        width: 15% !important; 
        padding-bottom: 65px !important;
    }

    .beer{
        bottom: 27.5rem !important;
    }

    .beer-bottle{
        bottom: 27.5rem !important;
    }
}

@media all and (max-width: 1600px){
    .allcards-div{
        bottom: 23rem !important;
    }  

    .top-card{  
        width: 15% !important; 
        padding-bottom: 65px !important;
    }

    .beer{
        bottom: 25rem !important;
    }

    .beer-bottle{
        bottom: 25rem !important;
    }
}

@media all and (max-width: 1470px){
    .allcards-div{
        bottom: 20rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 55px !important;
    }

    .beer{
        bottom: 23.5rem !important;
        left: 15rem !important;
    }

    .beer-bottle{
        bottom: 23.5rem !important;
        left: 10rem !important;
    }

    .new-game{
        bottom: 17rem !important;
    }
}

@media all and (max-width: 1360px){
    .allcards-div{
        bottom: 19rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 55px !important;
    }

    .btn-add{
        bottom: 15rem !important;
    }

    .beer{
        bottom: 22.5rem !important;
        left: 15rem !important;
    }

    .beer-bottle{
        bottom: 22.5rem !important;
        left: 10rem !important;
    }
}

@media all and (max-width: 1300px){
    .allcards-div{
        bottom: 17.5rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 45px !important;
    }

    .beer{
        bottom: 21.5rem !important;
        left: 15rem !important;
    }

    .beer-bottle{
        bottom: 21.5rem !important;
        left: 10rem !important;
    }

    .new-game{
        bottom: 15rem !important;
    }
}

@media all and (max-width: 1215px){
    .allcards-div{
        bottom: 15.5rem !important;
        left: 1rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 40px !important;
    }

    .beer{
        bottom: 19.5rem !important;
        left: 13rem !important;
    }

    .beer-bottle{
        bottom: 19.5rem !important;
        left: 8rem !important;
    }
}

@media all and (max-width: 1115px){
    .allcards-div{
        bottom: 14rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 40px !important;
    }

    .beer{
        bottom: 18.5rem !important;
        left: 13rem !important;
    }

    .beer-bottle{
        bottom: 18.5rem !important;
        left: 8rem !important;
    }

    .new-game{
        bottom: 15rem !important;
    }
}

@media all and (max-width: 1035px){
    .allcards-div{
        bottom: 13rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 35px !important;
    }

    .beer{
        bottom: 17.5rem !important;
        left: 10rem !important;
    }

    .beer-bottle{
        bottom: 17.5rem !important;
        left: 6rem !important;
    }

    .new-game{
        bottom: 12rem !important;
        left: 5rem;
    }

    .btn-add{
        bottom: 10rem !important;
        right: 5rem !important;
     }
}

@media all and (max-width: 985px){
    .allcards-div{
        bottom: 11.5rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 35px !important;
    }

    .beer{
        bottom: 16.5rem !important;
        left: 10rem !important;
    }

    .beer-bottle{
        bottom: 16.5rem !important;
        left: 6rem !important;
    }
}

@media all and (max-width: 905px){
    .allcards-div{
        bottom: 10rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 35px !important;
    }

    .beer{
        bottom: 14.5rem !important;
        left: 10rem !important;
    }

    .beer-bottle{
        bottom: 14.5rem !important;
        left: 6rem !important;
    }

    .new-game{
        bottom: 10rem !important;
    }
}

@media all and (max-width: 815px){
    .allcards-div{
        bottom: 9rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 30px !important;
    }

    .beer{
        bottom: 13.5rem !important;
        left: 8rem !important;
    }

    .beer-bottle{
        bottom: 13.5rem !important;
        left: 6rem !important;
    }

    .btn-add{
        bottom: 10rem !important;
        right: 3rem !important;
    }
}

@media all and (max-width: 755px){
    .allcards-div{
        bottom: 7.5rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 30px !important;
    }

    .beer{
        bottom: 12.5rem !important;
    }

    .beer-bottle{
        bottom: 12.5rem !important;
        left: 6rem !important;
    }

    .played-card{
        transform: translateY(0rem) translateX(12.5rem) rotateZ(30deg) !important;
    }

    .pick-card{
        animation: pick-card-animation2 1.25s ease-in-out !important;
    }
}

@media all and (max-width: 690px){
    .allcards-div{
        bottom: 6.5rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 20px !important;
    }

    .beer{
        bottom: 11rem !important;
    }

    .beer-bottle{
        bottom: 11rem !important;
        left: 6rem !important;
    }

    .new-game{
        bottom: 7.5rem !important;
    }

    .btn-add{
        bottom: 7.5rem !important;
        right: 3rem !important;
    }
}

@media all and (max-width: 640px){
    .allcards-div{
        bottom: 5.5rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 20px !important;
    }

    .beer{
        bottom: 11rem !important;
        left: 6.5rem !important;
    }

    .beer-bottle{
        bottom: 11rem !important;
        left: 4.5rem !important;
    }

    .new-game{
        bottom: 7.5rem !important;
    }

    .btn-add{
        bottom: 7.5rem !important;
        right: 3rem !important;
    }
}

@media all and (max-width: 600px){
    .allcards-div{
        bottom: 4.5rem !important;
    }  

    .top-card{  
        width: 14% !important; 
        padding-bottom: 20px !important;
    }

    .beer{
        bottom: 9.5rem !important;
        left: 6.5rem !important;
    }

    .beer-bottle{
        bottom: 9.5rem !important;
        left: 4.5rem !important;
    }

    .new-game{
        bottom: 6rem !important;
    }

    .btn-add{
        bottom: 7.5rem !important;
        right: 3rem !important;
    }
}
/* HEIGHT SECTION */


