main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

   .game-desk{
       position: absolute;
       bottom: 0;
       width: 100%;
   }

   .floor-div{
       position: absolute;
       top: 0;
       right: 0;
       left: 0;
       bottom: 0;
      

        .floor-img{
            z-index: -1;
            object-fit: cover;
            width: 100%;
            height: 100vh;
        }
   }

        .cards-stack{
            position: relative;
            z-index: 1;
            width: 50%;
            height: 100%;
            margin-right: 40%;
            perspective: 1000px;

        img{
            position: absolute;
            bottom: 30%;
            width: 12.5%;
            transition: 225ms ease;
            filter: brightness(120%);
        } 
    }
}

.top-card{
    cursor: pointer;
    transform: rotateX(45deg);

    &:hover{
        transform: translateY(-20px) rotateX(45deg);
    }
}

.played-card{
    transform: scale(1.0) translateY(-50px) translateX(250px) rotateX(45deg) rotateY(-10deg) rotateZ(150deg);
    filter: brightness(130%);
    width: 12.5% !important;
}

.pick-card{
    animation: pick-card-animation 1.25s ease-in-out;
    transform: scale(1.0) translateY(-50px) translateX(250px) rotateX(45deg) rotateY(-10deg) rotateZ(150deg);
    filter: brightness(130%);
}

@keyframes pick-card-animation{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.7);
    }
    80%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1.0) translateY(-50px) translateX(250px) rotateX(45deg) rotateY(-10deg) rotateZ(150deg);
    }
}

.player-position{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 80px;
    z-index: 1;
    color: white;
    margin: 10px;
}

.btn-add{
    position: absolute;
    right: 32px;
    bottom: 32px;
    width: 75px;
    cursor: pointer;
    z-index: 3;

    &:hover{
        filter: brightness(120%);
    }
}

.info{
    position: absolute;
    bottom: 50px;
    right: 200px;
    left: 200px;
}

.new-start-btn{
    position: absolute;
    top: 20px;
    left: 20px;
}

.div{
    display: flex !important;
    justify-content: center;
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    flex-wrap: wrap;
}

.app-alert{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}