
.character-div{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    img{
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 100%;
        cursor: pointer;

        &:hover{
            filter: brightness(140%);
        }
    }
}

.select-img{
    img{
        width: 50px;
    }
}