<h1 mat-dialog-title>Add New Player</h1>
<div mat-dialog-content>
  <p>What's your name</p>
  <mat-form-field>
    <mat-label>name</mat-label>
    <input matInput [(ngModel)]="Name">
    <div>
 
      <p>Please choose your Character</p>
  <mat-select [(ngModel)]="character">
    <ng-container *ngFor="let c of allCharacters; let i = index">
      <mat-option value="{{ c }}">
        <div class="select-img">
          <img src="{{ c }}">
        </div>
      </mat-option>
    </ng-container>
  </mat-select>

    </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [disabled]="Name.length == 0" [mat-dialog-close]="Name" cdkFocusInitial>Add Player</button>
</div>

