<div class="imprint">
        <div>
          <h1>Imprint</h1><br>
          <p>Information according to § 5 TMG</p>
          <p>Alexandru-Andrei Todor <br>
            Herrschaftsacker 2<br>
            79312, Emmendingen <br>
          </p>
          <p> <strong>Represented by: </strong><br>
            Alexandru-Andrei Todor<br>
            <br>
          </p>
          <p><strong>Contact:</strong> <br>
            Telefon: +49 15233628685<br>
            E-Mail: <a target="_blanc" href='mailto:alex_todor@yahoo.com'>alex_todor@yahoo.com</a></p>
          <br>
          Imprint from <a target="_blanc" href="https://www.impressum-generator.de">Impressum Generator</a> der 
          <a target="_blanc" href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/" rel="nofollow">Kanzlei Hasselbach, Frankfurt</a>
        </div>
        <div>
          Characters pictures from: <br>
          <p>Pinterest: <a target="_blanc" href="https://www.pinterest.com/pin/424605071126047814/">https://www.pinterest.com/pin/424605071126047814/</a></p><br>

          3D objects from: <br>
          <p>Envato Elements: <a target="_blanc" href="https://www.envato.com">https://www.envato.com</a></p>

        </div>
</div>
    


