.card{
    height: 100px;
}

@media all and (max-width: 2600px){
    .card{
        height: 95px;
        

        .description{
            font-size: 1.5em;
            padding: 5px 0px;
        }

        .title{
            font-size: 2em;
        }
    }
}

@media all and (max-width: 1415px){
    .card{
        height: 65px;

        .description{
            font-size: 1.1em;
            padding: 5px 0px;
        }

        .title{
            font-size: 1.5em;
        }
    }
}

@media all and (max-width: 1150px){
    .card{
        height: 55px;
        margin-bottom: -25px;

        .title{
            margin-bottom: 0px !important;
        }

        .description{
            font-size: 0.9em;
        }
    }
}

@media all and (max-width: 850px){
    .card{
        height: 40px;
        margin-bottom: -35px;

        .title{
            font-size: 15px;
        }

        .description{
            font-size: 10px;
            line-height: 10px;
        }
    }
}

@media all and (max-width: 650px){
    .card{
        height: 30px;
        margin-bottom: -45px;

        .title{
            font-size: 15px;
            margin-top: -10px;
        }

        .description{
            font-size: 8px;
            line-height: 8px;
            margin-top: -5px !important;
        }
    }
}